openapi: 3.1.0
info:
  title: 'Masaar Compliance API'
  version: 1.0.0
  description: 'GCC e-invoicing compliance. Generated from the route table by `php artisan masaar:openapi` — edit the routes, not this file.'
servers:
  - url: 'https://api.masaar.sa'
    description: Production
  - url: 'https://sandbox.masaar.sa'
    description: Sandbox
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
    metricsToken:
      type: http
      scheme: bearer
  schemas:
    Success:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
        data:
          description: 'Endpoint-specific payload'
    Paginated:
      type: object
      required:
        - success
        - data
        - meta
      properties:
        success:
          type: boolean
          const: true
        message:
          type: string
        data:
          type: array
          items:
            description: 'Endpoint-specific item'
        meta:
          type: object
          required:
            - current_page
            - last_page
            - per_page
            - total
          properties:
            current_page:
              type: integer
            last_page:
              type: integer
            per_page:
              type: integer
            total:
              type: integer
    Error:
      type: object
      required:
        - success
        - error
      properties:
        success:
          type: boolean
          const: false
        error:
          type: object
          required:
            - message
            - code
          properties:
            message:
              type: string
            code:
              type: string
            details:
              description: 'Field errors, where the failure has them'
            category:
              type: string
paths:
  /api/admin/dashboard:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.index
      summary: 'Index — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/circuit-breaker/reset:
    post:
      tags:
        - Platform
      operationId: adminDashboardController.resetCircuitBreaker
      summary: 'Reset Circuit Breaker — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/connectivity:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.connectivity
      summary: 'Connectivity — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/connectivity/refresh:
    post:
      tags:
        - Platform
      operationId: adminDashboardController.refreshConnectivity
      summary: 'Refresh Connectivity — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/error-rates:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.errorRates
      summary: 'Error Rates — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/hash-chain-health:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.hashChainHealth
      summary: 'Hash Chain Health — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/health:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.health
      summary: 'Health — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/issues:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.issues
      summary: 'Issues — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/logs:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.logs
      summary: 'Logs — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/offline-queue:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.offlineQueue
      summary: 'Offline Queue — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/offline-queue/process:
    post:
      tags:
        - Platform
      operationId: adminDashboardController.processOfflineQueue
      summary: 'Process Offline Queue — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/dashboard/offline-queue/{organizationId}':
    get:
      tags:
        - Platform
      operationId: adminDashboardController.offlineQueueByOrg
      summary: 'Offline Queue By Org — Admin Dashboard Controller'
      parameters:
        -
          name: organizationId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/dashboard/offline-queue/{queueId}/retry':
    post:
      tags:
        - Platform
      operationId: adminDashboardController.retryQueueItem
      summary: 'Retry Queue Item — Admin Dashboard Controller'
      parameters:
        -
          name: queueId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/run-health-check:
    post:
      tags:
        - Platform
      operationId: adminDashboardController.runHealthCheck
      summary: 'Run Health Check — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/dashboard/top-organizations:
    get:
      tags:
        - Platform
      operationId: adminDashboardController.topOrganizations
      summary: 'Top Organizations — Admin Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/licenses:
    get:
      tags:
        - Licensing
      operationId: licenseController.index
      summary: 'Index — License Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Licensing
      operationId: licenseController.store
      summary: 'Store — License Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/licenses/cleanup:
    post:
      tags:
        - Licensing
      operationId: licenseController.cleanup
      summary: 'Cleanup — License Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/admin/licenses/statistics:
    get:
      tags:
        - Licensing
      operationId: licenseController.statistics
      summary: 'Statistics — License Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}':
    get:
      tags:
        - Licensing
      operationId: licenseController.show
      summary: 'Show — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/activate':
    post:
      tags:
        - Licensing
      operationId: licenseController.activate
      summary: 'Activate — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/audit':
    get:
      tags:
        - Licensing
      operationId: licenseController.audit
      summary: 'Audit — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/extend':
    post:
      tags:
        - Licensing
      operationId: licenseController.extend
      summary: 'Extend — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/features':
    patch:
      tags:
        - Licensing
      operationId: licenseController.updateFeatures
      summary: 'Update Features — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/limits':
    patch:
      tags:
        - Licensing
      operationId: licenseController.updateLimits
      summary: 'Update Limits — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/reactivate':
    post:
      tags:
        - Licensing
      operationId: licenseController.reactivate
      summary: 'Reactivate — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/regenerate-secret':
    post:
      tags:
        - Licensing
      operationId: licenseController.regenerateSecret
      summary: 'Regenerate Secret — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/revoke':
    post:
      tags:
        - Licensing
      operationId: licenseController.revoke
      summary: 'Revoke — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/suspend':
    post:
      tags:
        - Licensing
      operationId: licenseController.suspend
      summary: 'Suspend — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/upgrade':
    post:
      tags:
        - Licensing
      operationId: licenseController.upgrade
      summary: 'Upgrade — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/admin/licenses/{id}/usage':
    get:
      tags:
        - Licensing
      operationId: licenseController.usage
      summary: 'Usage — License Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/auth/login:
    post:
      tags:
        - Auth
      operationId: authController.login
      summary: 'Login — Auth Controller'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  /api/auth/logout:
    post:
      tags:
        - Auth
      operationId: authController.logout
      summary: 'Logout — Auth Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/auth/me:
    get:
      tags:
        - Auth
      operationId: authController.me
      summary: 'Me — Auth Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/auth/refresh:
    post:
      tags:
        - Auth
      operationId: authController.refresh
      summary: 'Refresh — Auth Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/auth/register:
    post:
      tags:
        - Auth
      operationId: authController.register
      summary: 'Register — Auth Controller'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
              required:
                - name
                - email
                - password
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
  '/api/compliance/ae/retry/{submissionId}':
    post:
      tags:
        - Compliance
      operationId: ftaController.retry
      summary: 'Retry — Fta Controller'
      parameters:
        -
          name: submissionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/ae/status/{submissionId}':
    get:
      tags:
        - Compliance
      operationId: ftaController.status
      summary: 'Status — Fta Controller'
      parameters:
        -
          name: submissionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/compliance/ae/submissions:
    get:
      tags:
        - Compliance
      operationId: ftaController.index
      summary: 'Index — Fta Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/ae/submit/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: ftaController.submit
      summary: 'Submit — Fta Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/compliance/onboarding/ccsid:
    post:
      tags:
        - Compliance
      operationId: onboardingController.requestCcsid
      summary: 'Request Ccsid — Onboarding Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/compliance/onboarding/compliance-check:
    post:
      tags:
        - Compliance
      operationId: onboardingController.runComplianceCheck
      summary: 'Run Compliance Check — Onboarding Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/compliance/onboarding/pcsid:
    post:
      tags:
        - Compliance
      operationId: onboardingController.requestPcsid
      summary: 'Request Pcsid — Onboarding Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/compliance/onboarding/status:
    get:
      tags:
        - Compliance
      operationId: onboardingController.status
      summary: 'Status — Onboarding Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/sa/generate/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: complianceController.generate
      summary: 'Generate — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/sa/status/{submissionId}':
    get:
      tags:
        - Compliance
      operationId: complianceController.status
      summary: 'Status — Compliance Controller'
      parameters:
        -
          name: submissionId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/sa/submit/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: complianceController.submit
      summary: 'Submit — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/compliance/sa/validate/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: complianceController.validate
      summary: 'Validate — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard:
    get:
      tags:
        - Platform
      operationId: dashboardController.index
      summary: 'Index — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard/activity:
    get:
      tags:
        - Platform
      operationId: dashboardController.activity
      summary: 'Activity — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard/health:
    get:
      tags:
        - Platform
      operationId: dashboardController.health
      summary: 'Health — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard/invoices:
    get:
      tags:
        - Platform
      operationId: dashboardController.invoices
      summary: 'Invoices — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard/submissions:
    get:
      tags:
        - Platform
      operationId: dashboardController.submissions
      summary: 'Submissions — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/dashboard/usage:
    get:
      tags:
        - Platform
      operationId: dashboardController.usage
      summary: 'Usage — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/health:
    get:
      tags:
        - Platform
      operationId: getApiHealth
      summary: 'Closure route'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
      security: []
  /api/invoices:
    get:
      tags:
        - Invoice
      operationId: invoiceController.index
      summary: 'Index — Invoice Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Invoice
      operationId: invoiceController.store
      summary: 'Store — Invoice Controller'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
              required:
                - invoice_number
                - type
                - issue_date
                - buyer_name
                - lines
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/invoices/{invoice}':
    get:
      tags:
        - Invoice
      operationId: invoiceController.show
      summary: 'Show — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Invoice
      operationId: invoiceController.update.put
      summary: 'Update — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
              required:
                - invoice_number
                - type
                - issue_date
                - buyer_name
                - lines
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Invoice
      operationId: invoiceController.update.patch
      summary: 'Update — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
              required:
                - invoice_number
                - type
                - issue_date
                - buyer_name
                - lines
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Invoice
      operationId: invoiceController.destroy
      summary: 'Destroy — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/license:
    get:
      tags:
        - Licensing
      operationId: licenseUsageController.info
      summary: 'Info — License Usage Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  '/api/license/features/{feature}':
    get:
      tags:
        - Licensing
      operationId: licenseUsageController.checkFeature
      summary: 'Check Feature — License Usage Controller'
      parameters:
        -
          name: feature
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/license/health:
    get:
      tags:
        - Licensing
      operationId: licenseUsageController.health
      summary: 'Health — License Usage Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/license/quotas:
    get:
      tags:
        - Licensing
      operationId: licenseUsageController.quotas
      summary: 'Quotas — License Usage Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/license/status:
    get:
      tags:
        - Platform
      operationId: getApiLicenseStatus
      summary: 'Closure route'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
      security: []
  /api/license/usage:
    get:
      tags:
        - Licensing
      operationId: licenseUsageController.usage
      summary: 'Usage — License Usage Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/metrics:
    get:
      tags:
        - Platform
      operationId: metricsController.index
      summary: 'Index — Metrics Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          metricsToken: []
  /api/organizations:
    get:
      tags:
        - Organization
      operationId: organizationController.index
      summary: 'Index — Organization Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Organization
      operationId: organizationController.store
      summary: 'Store — Organization Controller'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/organizations/branches:
    get:
      tags:
        - Organization
      operationId: branchController.index
      summary: 'Index — Branch Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Organization
      operationId: branchController.store
      summary: 'Store — Branch Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}':
    get:
      tags:
        - Organization
      operationId: branchController.show
      summary: 'Show — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Organization
      operationId: branchController.update
      summary: 'Update — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Organization
      operationId: branchController.destroy
      summary: 'Destroy — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/onboarding-status':
    get:
      tags:
        - Organization
      operationId: branchController.onboardingStatus
      summary: 'Onboarding Status — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/onboarding/ccsid':
    post:
      tags:
        - Compliance
      operationId: branchOnboardingController.requestCcsid
      summary: 'Request Ccsid — Branch Onboarding Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/onboarding/compliance-check':
    post:
      tags:
        - Compliance
      operationId: branchOnboardingController.runComplianceCheck
      summary: 'Run Compliance Check — Branch Onboarding Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/onboarding/pcsid':
    post:
      tags:
        - Compliance
      operationId: branchOnboardingController.requestPcsid
      summary: 'Request Pcsid — Branch Onboarding Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/onboarding/reset':
    post:
      tags:
        - Compliance
      operationId: branchOnboardingController.resetOnboarding
      summary: 'Reset Onboarding — Branch Onboarding Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/reactivate':
    post:
      tags:
        - Organization
      operationId: branchController.reactivate
      summary: 'Reactivate — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/set-default':
    post:
      tags:
        - Organization
      operationId: branchController.setDefault
      summary: 'Set Default — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/branches/{branch}/suspend':
    post:
      tags:
        - Organization
      operationId: branchController.suspend
      summary: 'Suspend — Branch Controller'
      parameters:
        -
          name: branch
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/{id}/switch':
    post:
      tags:
        - Organization
      operationId: organizationController.switch
      summary: 'Switch — Organization Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/{organization}':
    get:
      tags:
        - Organization
      operationId: organizationController.show
      summary: 'Show — Organization Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Organization
      operationId: organizationController.update.put
      summary: 'Update — Organization Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Organization
      operationId: organizationController.update.patch
      summary: 'Update — Organization Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/{organization}/compliance-profiles':
    get:
      tags:
        - Organization
      operationId: complianceProfileController.index
      summary: 'Index — Compliance Profile Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Organization
      operationId: complianceProfileController.store
      summary: 'Store — Compliance Profile Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/organizations/{organization}/compliance-profiles/{profile}':
    delete:
      tags:
        - Organization
      operationId: complianceProfileController.destroy
      summary: 'Destroy — Compliance Profile Controller'
      parameters:
        -
          name: organization
          in: path
          required: true
          schema:
            type: string
        -
          name: profile
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/v1/compliance/generate/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: v1.complianceController.generate
      summary: 'Generate — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
  '/api/v1/compliance/status/{invoiceId}':
    get:
      tags:
        - Compliance
      operationId: v1.complianceController.status
      summary: 'Status — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: compliance.status'
  '/api/v1/compliance/submit/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: v1.complianceController.submit
      summary: 'Submit — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
  '/api/v1/compliance/validate/{invoiceId}':
    post:
      tags:
        - Compliance
      operationId: v1.complianceController.validate
      summary: 'Validate — Compliance Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
  /api/v1/dashboard:
    get:
      tags:
        - Platform
      operationId: v1.dashboardController.index
      summary: 'Index — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/v1/dashboard/health:
    get:
      tags:
        - Platform
      operationId: v1.dashboardController.health
      summary: 'Health — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/v1/dashboard/usage:
    get:
      tags:
        - Platform
      operationId: v1.dashboardController.usage
      summary: 'Usage — Dashboard Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
  /api/v1/invoices:
    get:
      tags:
        - Invoice
      operationId: v1.invoiceController.index
      summary: 'Index — Invoice Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.read'
    post:
      tags:
        - Invoice
      operationId: v1.invoiceController.store
      summary: 'Store — Invoice Controller'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
              required:
                - invoice_number
                - type
                - issue_date
                - buyer_name
                - lines
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
  '/api/v1/invoices/{invoice}':
    get:
      tags:
        - Invoice
      operationId: v1.invoiceController.show
      summary: 'Show — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.read'
    put:
      tags:
        - Invoice
      operationId: v1.invoiceController.update
      summary: 'Update — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
              required:
                - invoice_number
                - type
                - issue_date
                - buyer_name
                - lines
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
    delete:
      tags:
        - Invoice
      operationId: v1.invoiceController.destroy
      summary: 'Destroy — Invoice Controller'
      parameters:
        -
          name: invoice
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.cancel'
  '/api/v1/pipeline/status/{invoiceId}':
    get:
      tags:
        - Pipeline
      operationId: v1.pipelineController.status
      summary: 'Status — Pipeline Controller'
      parameters:
        -
          name: invoiceId
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: compliance.status'
  /api/v1/pipeline/submit:
    post:
      tags:
        - Pipeline
      operationId: v1.pipelineController.submit
      summary: 'Submit — Pipeline Controller'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invoice_number:
                  type: string
                type:
                  type: string
                document_type:
                  type: string
                issue_date:
                  type: string
                supply_date:
                  type: string
                currency:
                  type: string
                exchange_rate:
                  type: number
                payment_means_code:
                  type: string
                buyer_name:
                  type: string
                buyer_vat_number:
                  type: string
                buyer_id:
                  type: string
                buyer_id_scheme:
                  type: string
                buyer_address:
                  type: array
                billing_ref:
                  type: string
                adjustment_reason:
                  type: string
                discount_amount:
                  type: number
                notes:
                  type: string
                lines:
                  type: array
                invoice_type:
                  type: string
                due_date:
                  type: string
                org_id:
                  type: string
                auto_submit:
                  type: boolean
                branch_id:
                  type: string
                erp_reference_id:
                  type: string
              required:
                - type
                - issue_date
                - buyer_name
                - lines
                - org_id
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        422:
          description: 'Validation failed'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: invoice.submit'
  /api/v1/webhooks:
    get:
      tags:
        - Webhook
      operationId: v1.webhookController.index
      summary: 'Index — Webhook Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: webhook.manage'
    post:
      tags:
        - Webhook
      operationId: v1.webhookController.store
      summary: 'Store — Webhook Controller'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: webhook.manage'
  '/api/v1/webhooks/{webhook}':
    get:
      tags:
        - Webhook
      operationId: v1.webhookController.show
      summary: 'Show — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: webhook.manage'
    put:
      tags:
        - Webhook
      operationId: v1.webhookController.update
      summary: 'Update — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: webhook.manage'
    delete:
      tags:
        - Webhook
      operationId: v1.webhookController.destroy
      summary: 'Destroy — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          apiKey: []
      description: 'Requires scope: webhook.manage'
  /api/webhooks:
    get:
      tags:
        - Webhook
      operationId: webhookController.index
      summary: 'Index — Webhook Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    post:
      tags:
        - Webhook
      operationId: webhookController.store
      summary: 'Store — Webhook Controller'
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  /api/webhooks/events:
    get:
      tags:
        - Webhook
      operationId: webhookController.events
      summary: 'Events — Webhook Controller'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/webhooks/{id}/logs':
    get:
      tags:
        - Webhook
      operationId: webhookController.logs
      summary: 'Logs — Webhook Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Paginated'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/webhooks/{id}/rotate-secret':
    post:
      tags:
        - Webhook
      operationId: webhookController.rotateSecret
      summary: 'Rotate Secret — Webhook Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/webhooks/{id}/test':
    post:
      tags:
        - Webhook
      operationId: webhookController.test
      summary: 'Test — Webhook Controller'
      parameters:
        -
          name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
  '/api/webhooks/{webhook}':
    get:
      tags:
        - Webhook
      operationId: webhookController.show
      summary: 'Show — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    put:
      tags:
        - Webhook
      operationId: webhookController.update.put
      summary: 'Update — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    patch:
      tags:
        - Webhook
      operationId: webhookController.update.patch
      summary: 'Update — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
    delete:
      tags:
        - Webhook
      operationId: webhookController.destroy
      summary: 'Destroy — Webhook Controller'
      parameters:
        -
          name: webhook
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        401:
          description: 'Missing or invalid credentials'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        -
          bearerAuth: []
